<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <bean name="commentConsumer" class="com.lh.appasync.async.CommentMonitor">
    	<property name="compositionService" ref="compositionService"></property>
    	<property name="playerService" ref="playerService"></property>
    </bean>
    <bean name="commentMonitorThread" class="java.lang.Thread" init-method="start">
        <constructor-arg ref="commentConsumer"/>
    </bean>

</beans>
