<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--控制台输出-->
    <property name="APP_NAME" value="transcoder"></property>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="GBK">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!--文件输出-->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${catalina.home}/logs/${APP_NAME}.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 指定不同的Log等级所用的输出方式 -->
    <logger name="logback"/>
    <logger name="com.lh" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
